/*untuk tablet*/
@media all and (max-width: 1000px) {
    .main {
        height: 1300px;
    }
    .menu {
        width: 50%;
      }
}
/*untuk hp*/
@media all and (max-width: 670px) {
    #menu-kanan {
        display:none;
    }
      
     .sub-main h1 {
        font-size: 80px;
        margin-top: 20px;
     }
    
    .sub-main h2 {
        font-size: 20px;
     }
    .main {
        height: 1900px;
      }
    .menu {
        width: 100%;
      }
    
   .info-reservasi {
     text-align: 100%;
   } 

   input, textarea {
     width: 90%;
   }
    .footer  {
      text-align: center;
      height: 80px;
    }
    .footer p {
      font-size: 18px;
      float: none;
      padding-top: 15px;
    }
}
